<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
  </body>
</html>
<h10> TERM PROJECT </h10>

<style type="text/css">
a {
	font-size: x-large;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: #000000;
}
a:hover {
	font-size: x-large;
	font-family: "Comic Sans MS";
	color: #C0C0C0;
}
.auto-style1 {
	text-align: center;
	font-size: xx-large;
	background-color: #808080;
}
.auto-style4 {
	text-align: center;
	font-size: x-large;
	background-color: #808080;
}
.auto-style5 {
	border: 6px solid #FFFFFF;
}
.auto-style6 {
	border-width: 0px;
	margin-top: 0px;
}
.auto-style7 {
	border-width: 0px;
}
.auto-style8 {
	text-align: center;
	color: #FFFFFF;
}
</style>




<h1 class="auto-style8">TERM PROJECT </h1>
<table cellspacing="1" style="width: 50%; height: 50%" align="center" class="auto-style5">
	<tr>
		<td style="width: 268px; height: 22px">
		<a href="BasketBall/BB_Link1.html">
		<img alt="Basket Ball" height="192" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/BB_Home.jpg" width="319" class="auto-style6" /></a></td>
		<td class="auto-style1" style="width: 295px; height: 22px">SPORTS</td>
		<td style="height: 22px; width: 288px;">
		<a href="Soccer/S_Link1.html">
		<img alt="Soccer" height="190" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/S_Home.jpg" width="313" class="auto-style7" /></a></td>
	</tr>
	<tr>
		<td style="width: 268px; height: 192px" class="auto-style4">
		<a href="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/">HOME</a></td>
		<td style="width: 295px; height: 192px">
		<a href="BaseBall/BB2_Link1.html">
		<img alt="Base Ball" height="198" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/BB2_Home.jpg" width="302" class="auto-style7" /></a></td>
		<td style="height: 192px; width: 288px;" class="auto-style4">
		<a href="http://146.111.120.96/FA16/ET_710_PNT1/">COURSE
		WEBSITE</a></td>
	</tr>
	<tr>
		<td style="height: 23px; width: 268px">
		<a href="FootBall/FB_Link1.html">
		<img alt="Foot Ball" height="194" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/FB_Home.jpg" width="318" class="auto-style7" /></a></td>
		<td style="width: 295px; height: 23px" class="auto-style4">
		<a href="../TermProjectOutline.html">OUTLINE</a></td>
		<td style="height: 23px; width: 288px;">
		<a href="Hockey/H_Link1.html">
		<img alt="Hockey" height="192" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/H_Home.jpg" width="314" class="auto-style7" /></a></td>
	</tr>
</table>
